<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reservation page</title>
<link href="css/reservationPage.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Create reservation</h1>
<div class="content">
<pre>
Airlines: <span th:text="${flight.operating_airlines}"></span>
Departure city: <span th:text="${flight.departure_city}"></span>
Arrival city: <span th:text="${flight.arrival_city}"></span>
Departure date: <span th:text="${flight.departure_date}"></span>


Passenger details:
<form action="#" th:action="@{/createPassenger}" th:object="${passenger}" method="post">
<input type="hidden" name="flightId" th:value="${flight.id}"/>
First name: <input type="text" th:field="*{firstname}"/>
<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="error"></p>
Last name: <input type="text" th:field="*{lastname}"/>
<p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="error"></p>
Email: <input type="text" th:field="*{email}"/>
<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>
<input type="submit" value="confirm">
</form>
</pre>
</div>
</body>
</html>