.error{
		color:red;
}
body{
		padding:0;
		margin:0;	
}
.form{
		width:200px;
		height:250px;
		margin: auto;
		margin-top: 150px;
		background-color: black;
		border: 3px black solid;
		padding:5px;
		color:white;
}
#button{
		margin-top: 3px;
}